.container{
  text-align: center;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
}
.button{
  margin: 10px;
  padding: 10px 20px;
  background-color: #ecf806;
  color:blue;
  border-radius: 5px;
  cursor: pointer;
}
.special-message{
  color:red;
  font-weight: bold;
  opacity: 0 ;  
 
}
.fade-in{
  animation: fadeIn 1s forwards;
}
.fade-out{
  animation: fadeIn 1s forwards;
}
/* Анимации для плавного появления */
@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from {
    opacity: 1;
  }
  to{
    opacity: 0;
  }
} 