/* Основные стили для списка упражнений */
ul {
    list-style: none;
    padding: 0;
  }
  
  .workout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 1.2rem;
  }
  
  /* Стили для кнопок редактирования и удаления */
  button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ffa07a;
  }
  
  button:active {
    background-color: #ff4500;
  }
  
  /* Стили для input во время редактирования */
  input {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 80px;
  }